<div class="row">
  <div class="col-4">
    <app-market-status></app-market-status>
  </div>
</div>

<div class="row">
  <div class="col">
    <app-orders-latest></app-orders-latest>
  </div>

  <div class="col">
    <app-transactions-latest></app-transactions-latest>
  </div>
</div>
