<div class="card">
  <div class="card-block">
    <h4 class="card-title">market durumu</h4>
    <h6 class="card-subtitle mb-2 text-muted">Fiyatlar</h6>
    <div class="card-text">
      <h2>BTC: 1200 TL</h2>
    </div>
  </div>
</div>
